@model Question

<h2 style="margin-top:40px">Add Question</h2>

<form asp-action="AddQuestion" method="post">

    <input type="hidden" asp-for="ExamId" value="@ViewBag.ExamId" />

    <div class="mb-3">
        <label>Question</label>
        <textarea asp-for="QuestionText" class="form-control" required></textarea>
    </div>

    <div class="mb-3">
        <label>Option A</label>
        <input asp-for="OptionA" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Option B</label>
        <input asp-for="OptionB" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Option C</label>
        <input asp-for="OptionC" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Option D</label>
        <input asp-for="OptionD" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Correct Option</label>
        <select asp-for="CorrectOption" class="form-control" required>
            <option value="">Select</option>
            <option value="A">Option A</option>
            <option value="B">Option B</option>
            <option value="C">Option C</option>
            <option value="D">Option D</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Marks</label>
        <input asp-for="Marks" type="number" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-success">Save Question</button>

</form>