@model Result

<h2 style="margin-top:40px">Exam Result</h2>

<div class="card p-4">

    <p><strong>Total Marks:</strong> @Model.TotalMarks</p>
    <p><strong>Obtained Marks:</strong> @Model.ObtainedMarks</p>
    <p><strong>Percentage:</strong> @Model.Percentage %</p>

</div>